<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page url</title>
    <style>

         body { 
             background-color: #f3f3f3;
         }
       .first {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: cadetblue;
        box-sizing: border-box;}


       </style>
</head>
<body>
    
    <h1 class="first">This is home page url</h1>
</body>
</html>